@import url("https://use.typekit.net/mvr6lcu.css");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "richmond-text";
	text-decoration: none;
	color: #d92640;
}

a:hover {
	color: white;
	text-decoration: underline 2px;
	text-underline-offset: 8px;
}

p {
	font-family: "richmond-text";
}

ul {
	list-style: none;
}

body {
	background-color: #f6dde1;
	width: 100vw;
}


.header {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	justify-content: space-between;
	padding: 2rem;

}

.logo-text {
	font-weight: bold;
	font-size: 20px;


}

.navbar-links {
	display: flex;
	align-items: center;
}

.navbar-links li {
	margin: 0 30px;
}

.container {
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
}

.container p {
	color: #d92640;
}

.text-div {
	margin-top: -10%;
	padding-left: 30%;
}

#tt-1 {
	font-family: "nautica";
	font-size: 100px;
}


#tt-2 {
	font-family: "richmond-text";
	font-size: 24px; 
}

.img-div img {
	margin-left: -20%;
	max-width: 40%;
}


.footer {
	text-align: center;
	background-color: #d92640;
	display: flex;
	justify-content: center;
}

.footer img {
	margin: 20px 10px;
	filter: invert(82%) sepia(46%) saturate(77%) hue-rotate(302deg) brightness(101%) contrast(93%);
}
